#root {

  font-family: 'Caveat', cursive;
  font-color: white;
}

.navbar-nav .nav-link.active {
    color: blue; /* Change icon color to blue */
  }
.active-link{
    color: blue;
}
.p-img{
    width: 425px;
    height: 250px;
    object-fit: contain;
}

body {

  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-image {
  /* left: 500px;
  bottom: 145px; */
  width: 250px;
  height: 250px;
  border: 5px solid oldlace;
  border-radius: 30%;
}